*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: #7b8793;
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  color: #1f2933;
  padding: 1rem; }

.container {
  background-color: #f5f7fa;
  min-height: 80vh; }

.header {
  font-size: 3.6rem;
  font-weight: 300;
  text-align: center;
  padding: 2rem; }

.divider {
  background-color: #7b8793;
  height: 2rem;
  width: 100%;
  margin-bottom: 2rem; }

.art__header {
  font-size: 2.4rem;
  font-weight: 300;
  text-align: center;
  border-bottom: 1px solid #01337e; }

.art__container {
  margin-top: 3rem;
  padding: 1rem; }

.art__img {
  max-height: 100%;
  max-width: 100%; }

input[type="checkbox"] {
  display: none; }

input[id^="art-"]:checked ~ label div[id^="cover"] {
  display: block;
  opacity: 1;
  visibility: visible; }

div[id^="cover-"] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  backdrop-filter: blur(0.12rem);
  z-index: 9999;
  position: fixed;
  height: 100vh;
  width: 100%; }

div[id^="box-"] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .3s; }

.art__img--preview {
  width: auto;
  max-height: 50vw; }

.art__img {
  border: 1px solid #2487eb; }

div[class^="art-w-"] p {
  text-align: center; }

.art__container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10rem;
  justify-content: space-around; }
  .art__container div[class^="art-w-"] {
    height: 30vh;
    margin-bottom: 5rem; }
    @media only screen and (max-width: 600px) {
      .art__container div[class^="art-w-"] {
        height: 20vh; } }
