*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: #7b8793;
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  color: #1f2933;
  padding: 1rem; }

.container {
  background-color: #f5f7fa;
  min-height: 80vh; }

.header {
  font-size: 3.6rem;
  font-weight: 300;
  text-align: center;
  padding: 2rem; }

.divider {
  background-color: #7b8793;
  height: 2rem;
  width: 100%;
  margin-bottom: 2rem; }

.art__header {
  font-size: 2.4rem;
  font-weight: 300;
  text-align: center;
  border-bottom: 1px solid #01337e; }

.art__container {
  margin-top: 3rem;
  padding: 1rem; }

.art__img {
  width: 100%; }

input[type="checkbox"] {
  display: none; }

input[id^="art-"]:checked ~ label div[id^="cover"] {
  display: block;
  opacity: 1;
  visibility: visible; }

div[id^="cover-"] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  backdrop-filter: blur(0.12rem);
  z-index: 9999;
  position: fixed;
  height: 100vh;
  width: 100%; }

div[id^="box-"] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .3s; }

.art__img--preview {
  width: auto;
  max-height: 50vw; }

.art__img {
  border: 1px solid #2487eb; }

div[class^="art-w-"] p {
  text-align: center; }

.container {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: 8rem 2rem;
  grid-auto-rows: max-content; }

.header {
  grid-column: full-start / full-end; }

.divider {
  grid-column: full-start / full-end; }

.art__header {
  grid-column: center-start / center-end; }

.art__container {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: max-content;
  column-gap: 2rem;
  row-gap: 1rem; }

.art-w-1-0 {
  grid-column: span 4; }

.art-w-1-1 {
  grid-column: span 2; }

.art-w-1-2 {
  grid-column: span 4; }

.art-w-1-3 {
  grid-column: span 3; }

.art-w-1-4 {
  grid-column: span 2; }

.art-w-1-5 {
  grid-column: span 3; }

.art-w-1-6 {
  grid-column: span 3; }

.art-w-2-0 {
  grid-column: span 3; }

.art-w-2-1 {
  grid-column: span 3; }

.art-w-2-2 {
  grid-column: span 3; }

.art-w-2-3 {
  grid-column: span 3; }

.art-w-2-4 {
  grid-column: span 4; }

.art-w-3-0 {
  grid-column: span 2; }

.art-w-3-1 {
  grid-column: span 2; }

.art-w-3-2 {
  grid-column: span 3; }

.art-w-3-3 {
  grid-column: span 2; }

.art-w-3-4 {
  grid-column: span 2; }

.art-w-3-5 {
  grid-column: span 2; }

.art-w-3-6 {
  grid-column: span 3; }

.art-w-4-0 {
  grid-column: span 3; }

.art-w-4-1 {
  grid-column: span 2; }

.art-w-4-2 {
  grid-column: span 3; }

.art-w-4-3 {
  grid-column: span 3; }

.art-w-4-4 {
  grid-column: span 3; }

.art-w-4-5 {
  grid-column: span 3; }

.art-w-4-6 {
  grid-column: span 3; }

.art-w-4-7 {
  grid-column: span 2; }

.art-w-4-8 {
  grid-column: span 3; }

.art-w-5-0 {
  grid-column: span 2; }

.art-w-5-1 {
  grid-column: span 3; }

.art-w-5-2 {
  grid-column: span 3; }

.art-w-5-3 {
  grid-column: span 2; }

.art-w-5-4 {
  grid-column: span 2; }

.art-w-5-5 {
  grid-column: span 2; }

.art-w-5-6 {
  grid-column: span 3; }

.art-w-5-7 {
  grid-column: span 3; }

.art-w-5-8 {
  grid-column: span 3; }

.art-w-5-9 {
  grid-column: span 2; }

.art-w-5-10 {
  grid-column: span 2; }

.art-w-5-11 {
  grid-column: span 3; }

.art-w-5-12 {
  grid-column: span 2; }

.art-w-5-13 {
  grid-column: span 2; }

.art-w-5-14 {
  grid-column: span 2; }

.art-w-5-15 {
  grid-column: span 2; }

.art-w-6-0 {
  grid-column: span 2; }

.art-w-6-1 {
  grid-column: span 2; }

.art-w-6-2 {
  grid-column: span 2; }

.art-w-6-3 {
  grid-column: span 2; }

.art-w-6-4 {
  grid-column: span 2; }

.art-w-6-5 {
  grid-row-start: 1;
  grid-column: 9 / span 2; }

.art-w-6-6 {
  grid-column: span 2; }

.art-w-6-7 {
  grid-column: span 2; }
