<%- include('header.ejs') %>

    <main class="posts__container">
        <h1>Latest Posts</h1>
        <div class="post">
            <img src="/food/chili-lime-flank-steak.jpeg" alt="chili lime flank steak">
            <span class="post--category">Main Dish</span>
            <span class="post--title">Chili Lime Flank Steak</span>
        </div>

        <div class="post">
            <img src="/food/tuna-salad.jpg" alt="tuna salad">
            <span class="post--category">Side Dish</span>
            <span class="post--title">Tuna Salad</span>
        </div>
    </main>
    <div class="side__container">
        <div class="side__blurb">
            <!-- <p>This project is a compilation of recipes that I've enjoyed making from many different sources.</p> -->
        </div>
    </div>

<%- include('footer.ejs') %>